@import '../../theme';

.container {
  padding: $l-offset;

  .btn-add {
    margin-bottom: $s-offset;
  }

  .mat-table {
    width: 100%;
    background-color: $prim-substrate;

    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type,
    th.mat-header-cell:last-of-type {
      padding-right: 8px;
    }

    .mat-column-id {
      width: 40px;
    }

    .mat-column-service {
      text-align: right;
      width: 80px;
    }

    .mat-column-service.xs,
    .mat-column-service.sm {
      width: 30px !important;
    }
  }
}

.col-service {

  .mat-icon-button {
    .mat-icon.s18 {
      font-size: $xl-fsize;
    }

    .mat-icon.b800 {
      color: rgba(0, 0, 0, 0.8)
    }

    .mat-icon.b500 {
      color: rgba(0, 0, 0, 0.54)
    }
  }

  .mat-icon-button:active,
  .mat-icon-button:hover {

    .mat-icon,
    .mat-icon {
      color: #000000;
    }
  }
}
