$paddingH: 14px;
$dropShadow: 0 2px 4px -1px rgba(0, 0, 0, 0.18), 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 14px 0 rgba(0, 0, 0, 0.08);

.page-title {
  flex: 1;
  text-align: center;
}

.drawer-container {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}

.mat-toolbar {
  box-shadow: $dropShadow;
  z-index: 2;
}

.mat-drawer-side {
  border-right: none;
}

.mat-drawer {
  background-color: #f1f1f1;
}