$l-offset: 38px;
$m-offset: 24px;
$s-offset: 18px;

$s-fsize: 12px;
$m-fsize: 14px;
$l-fsize: 16px;
$xl-fsize: 18px;

$col-white: #ffffff;
$col-grey-100: #fdfdfd;
$col-grey-200: #f1f1f1;

$prim-substrate: $col-white;