@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink';

h1, h2, h3, h4, h5, p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-content p,
.mat-list-base .mat-list-item {
    font-size: 14px;
    font-weight: 500;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 24px !important;
}